.background {
    background-image: url("../../../assets/images/fantasy-3194227_1920.jpg");
    background-position: center;
    max-width: 1920px;
    height: 949px;
    z-index: -1;
}

.bevelBox {
    background: #666666;
    border: 1px solid #000000;
    margin: auto;
    width: 60%;
    min-width: 400px;
    border-radius: 1rem;
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    background-color: rgba(200, 200, 200, 0.5);
    text-align: center;
}

#overlay {
    z-index: 1;
    position: absolute;
    top: 0;
}

#linker {
    border-radius: 5px;
}

#linker:hover {
    background-color: rgba(90, 90, 90, 0.8);
}
