<div class="background"></div>

<div class="col-12 mx-auto" id="overlay">
    <div class="bevelBox" style="margin-top: 50px;margin-bottom: 20px;">
        <div class="col-12"style="margin-bottom: 10px;">
            <h1>Welcome {{player}}</h1>
            <div class="col-12 p-0 m-0" *ngFor="let character of characterList" style="display: inline-flex;" id="linker">
                <div class="col-6">
                    <h3>{{character.character_name}}</h3>
                </div>
                <div class="col-4">
                    <h3 >{{character.multiclass | class}}</h3>
                </div>
                <div class="col-2">
                    <h3>{{character.multiclass | level}}</h3>
                </div>
            </div>
        </div>
    </div>
    
    <div class="row mx-auto" style="width: 65%;min-width: 400px;">
        <div class="col-5 bevelBox" id="linker" style="margin-bottom: 10px;">
            <h1>Create Character</h1>
        </div>
        <div class="col-5 bevelBox" id="linker" style="margin-bottom: 10px;">
            <h1>Log Out</h1>
        </div>
    </div>
</div>