<div class="bevelBox">
    <header>
        <nav>
            <ul class="nav nav-tabs">
                <li>
                    <a class="nav-link" routerLink="/profile">Abilities</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/info">Description</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/spells">Spellcasting</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<div id="Front">
    <div id="Cover">
        <div class="item" id="Header">

        </div>
    </div>
    <div id="Full">
        <div id="Left">
                <div class="item" id="Info">
                        <div class="item" id="InfoTop"></div>
                        <div class="item" id="InfoBody">
        
                        </div>
                        <div class="item" id="InfoFoot"></div>
                    </div>
            <div class="item" id="Backstory">
                <div class="item" id="Symbol"></div>
                <div class="item" id="BackstoryBody">

                </div>
                <div class="item" id="BackstoryFoot"></div>
            </div>
        </div>
        <div id="Right">
                <div class="item" id="Allies">
                    <div class="item" id="AlliesTop"></div>
                    <div class="item" id="AlliesBody">

                    </div>
                    <div class="item" id="AlliessFoot"></div>
                </div>
                <div class="item" id="Notes">
                    <div class="item" id="NotesTop"></div>
                    <div class="item" id="NotesBody">

                    </div>
                    <div class="item" id="NotesFoot"></div>
                </div>
        </div>
    </div>
</div>