<div class="bevelBox">
    <div class="row mx-auto" style="margin-top: 10px;">
        <div class="col-4 mx-auto">
            <h4>Save and Exit</h4>
        </div>
        <div class="col-4 mx-auto">
            <h4>Save</h4>
        </div>
        <div class="col-4 mx-auto">
            <h4>Exit Without Saving</h4>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-4 mx-auto">
            <h4>Share</h4>
        </div>
        <div class="col-4 mx-auto">
            <h4>Copy</h4>
        </div>
        <div class="col-4 mx-auto">
            <h4>Delete</h4>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-4 mx-auto">
            <a class="nav-link" routerLink="/profile" style="width:100%;padding: 0;">
                <h4>Abilities</h4>
            </a>
        </div>
        <div class="col-4 mx-auto">
            <a class="nav-link" routerLink="/info" style="width:100%;padding: 0;">
                <h4>Info</h4>
            </a>
        </div>
        <div class="col-4 mx-auto">
            <a class="nav-link" routerLink="/spells" style="width:100%;padding: 0;">
                <h4>Spells</h4>
            </a>
        </div>
    </div>
</div>
<div class="row m-0 p-0 mx-auto" style="max-width: 1200px;">
    <div class="row m-0 p-0 mx-auto">
        <div class="col-md-12 m-0 p-0 mx-auto">
            <div class="row" id={{Header}}>
                <div class="col-md-5" style="height:160px;min-width: 300px;">
                    <input *ngIf="Header=='HeaderWide'" type="text" id="Charname"
                        style="margin-left: 100px;margin-top: 100px;" [(ngModel)]="Charname">
                    <input *ngIf="Header=='HeaderMiddle'" type="text" id="Charname"
                        style="margin-left: 100px;margin-top: 100px;" [(ngModel)]="Charname">
                    <input *ngIf="Header=='HeaderNarrow'" type="text" id="Charname"
                        style="margin-left: 100px;margin-top: 75px;width:300px" [(ngModel)]="Charname">
                </div>
                <div class="col-md-7" style="height:249px">
                    <!--Wide-->
                    <div *ngIf="Header=='HeaderWide'">
                        <div class="row">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <div class="col-md-4 p-0">
                                    <!--Age-->
                                    <div style="width: 200px;margin-left: 30px;margin-top: 80px;">
                                        <input type="number" [(ngModel)]="Age" style="width: 40px;text-align: center;">
                                        Years Old</div>
                                </div>
                                <div class="col-md-3 p-0">
                                    <!--Height-->
                                    <div style="width: 200px;margin-left: 10px;margin-top: 80px;">
                                        <input type="number" [(ngModel)]="Height"
                                            style="width: 40px;text-align: center;"> Inches</div>
                                </div>
                                <div class="col-md-5 p-0">
                                    <!--Weight-->
                                    <div style="width: 200px;margin-left: 30px;margin-top: 80px;">
                                        <input type="number" [(ngModel)]="Weight"
                                            style="width: 40px;text-align: center;"> Pounds</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <div class="col-md-4 p-0">
                                    <!--Eyes-->
                                    <div style="width: 200px;margin-left: 30px;margin-top: 25px;">
                                        <input type="text" [(ngModel)]="Eyes" style="width: 100px;"></div>
                                </div>
                                <!--Skin-->
                                <div class="col-md-3 p-0">
                                    <div style="width: 200px;margin-left: 10px;margin-top: 25px;">
                                        <input type="text" [(ngModel)]="Skin" style="width: 100px;"></div>
                                </div>
                                <div class="col-md-5 p-0">
                                    <!--Hair-->
                                    <div style="width: 200px;margin-left: 30px;margin-top: 25px;">
                                        <input type="text" [(ngModel)]="Hair" style="width: 100px;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Middle-->
                    <div *ngIf="Header=='HeaderMiddle'">
                        <div class="row">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <div class="col-md-7 p-0">
                                    <!--Age-->
                                    <div style="width: 200px;padding-left: 79px;margin-top: 36px;">{{Age}} Years Old
                                    </div>
                                </div>
                                <!--Eyes-->
                                <div class="col-md-5 p-0">
                                    <div style="width: 170px;margin-left:15px;margin-top:30px;">{{Eyes}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <!--Skin-->
                                <div class="col-md-7 p-0">
                                    <input type="text" [(ngModel)]="Skin" style="width: 200px;
                                        margin-top:24px;margin-left:80px;text-align: left;">
                                </div>
                                <!--Hair-->
                                <div class="col-md-5 p-0">
                                    <input type="text" [(ngModel)]="Hair"
                                        style="width: 170px;margin-top:22px;margin-left:15px;">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <div class="col-md-7 p-0">
                                    <!--Height-->
                                    <div style="width: 200px;margin-left: 90px;margin-top: 30px;">
                                        <input type="number" [(ngModel)]="Height"
                                            style="width: 40px;text-align: center;"> Inches</div>
                                </div>
                                <div class="col-md-5 p-0">
                                    <!--Weight-->
                                    <div style="width: 200px;margin-left: 30px;margin-top: 30px;">
                                        <input type="number" [(ngModel)]="Weight"
                                            style="width: 40px;text-align: center;"> Pounds</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--Narrow-->
                    <div *ngIf="Header=='HeaderNarrow'" style="width:400px;">
                        <div class="row" style="width:400px;">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <div class="col-md-6 p-0">
                                    <!--Age-->
                                    <div style="width: 200px;padding-top: 40px;margin-left:20px">{{Age}} Years Old</div>
                                </div>
                                <!--Eyes-->
                                <div class="col-md-5 p-0">
                                    <div style="width: 170px;margin-left:10px;margin-top:40px;">{{Eyes}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width:400px;">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <!--Skin-->
                                <div class="col-md-7 p-0">
                                    <input type="text" [(ngModel)]="Skin" style="width: 200px;
                                            margin-top:30px;margin-left:20px;text-align: left;">
                                </div>
                                <!--Hair-->
                                <div class="col-md-5 p-0">
                                    <input type="text" [(ngModel)]="Hair"
                                        style="width: 170px;margin-top:30px;margin-left:10px;">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="width:400px;">
                            <div class="col-md-12 p-0" style="display: inline-flex;margin:0;">
                                <div class=" col-md-6 p-0">
                                    <!--Height-->
                                    <div style="width: 170px;margin-left: 20px;margin-top: 28px;">
                                        <input type="number" [(ngModel)]="Height"
                                            style="width: 40px;text-align: center;"> Inches</div>
                                </div>
                                <!--Weight-->
                                <div class="col-md-6 p-0">
                                    <div style="width: 200px;margin-left: 30px;margin-top: 28px;">
                                        <input type="number" [(ngModel)]="Weight" style="width: 40px;">
                                        Pounds</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row m-0 p-0 mx-auto" style="max-width: 1200px;">
    <div [class]="WidthControl">
        <div class="row m-0 p-0 mx-auto">
            <div [class]="SingleColumn">
                <div class="row mx-auto">
                    <div id="Info">
                        <div id="InfoTop"></div>
                        <div id="InfoBody">

                        </div>
                        <div id="InfoPerson"></div>
                        <div id="InfoBody">

                        </div>
                        <div id="InfoIdeals"></div>
                        <div id="InfoBody">

                        </div>
                        <div id="InfoBonds"></div>
                        <div id="InfoBody">

                        </div>
                        <div id="InfoFlaws"></div>
                    </div>
                </div>
                <div *ngIf="WidthControl!='Middle'">
                        <div id="Backstory">
                                <div id="Symbol"></div>
                                <div id="BackstoryBody">
                
                                </div>
                                <div id="BackstoryFoot"></div>
                            </div>
                </div>
            </div>
            <div class="col-6" *ngIf="WidthControl=='Middle'">
                    <div id="Backstory">
                            <div id="Symbol"></div>
                            <div id="BackstoryBody">
            
                            </div>
                            <div id="BackstoryFoot"></div>
                        </div>
            </div>
            <div [class]="DoubleColumn">

            </div>
        </div>
    </div>
</div>

<div id="Front">
    <div id="Full">
        <div id="Left">


        </div>
        <div id="Right">
            <div id="Allies">
                <div id="AlliesTop"></div>
                <div id="AlliesBody">

                </div>
                <div id="AlliesFoot"></div>
            </div>
            <div id="Notes">
                <div id="NotesTop"></div>
                <div id="NotesBody">

                </div>
                <div id="NotesFoot"></div>
            </div>
        </div>
    </div>
</div>