<div class="bevelBox">
    <header>
        <nav>
            <ul class="nav nav-tabs">
                <li>
                    <a class="nav-link" routerLink="/profile">Abilities</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/info">Description</a>
                </li>
                <li>
                    <a class="nav-link" routerLink="/spells">Spellcasting</a>
                </li>
            </ul>
        </nav>
    </header>
</div>
<div id="Front">
    <div id="Cover">
        <div id="Header">

        </div>
    </div>
    <div id="Full">
        <div id="Left">
            <div id="Info">
                <div id="InfoTop"></div>
                <div id="InfoBody">

                </div>
                <div id="InfoPerson"></div>
                <div id="InfoBody">

                </div>
                <div id="InfoIdeals"></div>
                <div id="InfoBody">
                
                </div>
                <div id="InfoBonds"></div>
                <div id="InfoBody">
                
                </div>
                <div id="InfoFlaws"></div>
            </div>
            <div id="Backstory">
                <div  id="Symbol"></div>
                <div  id="BackstoryBody">

                </div>
                <div id="BackstoryFoot"></div>
            </div>
        </div>
        <div id="Right">
            <div  id="Allies">
                <div  id="AlliesTop"></div>
                <div  id="AlliesBody">

                </div>
                <div id="AlliesFoot"></div>
            </div>
            <div id="Notes">
                <div id="NotesTop"></div>
                <div id="NotesBody">

                </div>
                <div id="NotesFoot"></div>
            </div>
        </div>
    </div>
</div>