<div class="row m-0 p-0 mx-auto">
    <div class="row m-0 p-0 mx-auto">
        <div class="col-md-12 m-0 p-0 mx-auto" >
            <div class="row" id={{Header}}>
                <div class="col-md-5" style="height:160px">
                    <input *ngIf="Header=='HeaderWide'" type="text" id="Charname" 
                    style="margin-left: 64px;margin-top: 100px;" [(ngModel)]="Charname">
                    <input *ngIf="Header=='HeaderMiddle'" type="text" id="Charname" 
                    style="margin-left: 64px;margin-top: 100px;" [(ngModel)]="Charname">
                    <input *ngIf="Header=='HeaderNarrow'" type="text" id="Charname" 
                    style="margin-left: 64px;margin-top: 75px;" [(ngModel)]="Charname">
                </div>
                <div class="col-md-7" style="height:249px">
                    Test
                </div>
            </div>
        </div>
    </div>
</div>
<!--width:256px; border-style: hidden;width: 256px;height: 26px;font-size: 150%;
                    font-weight: bold;position: relative;
                
                                  <div style="display: inline-flex;margin:0;">
                        <div style="width: 220px;">Level {{Level}} {{Class}} </div>
                        <select ng-model="Race" style="width: 180px;" ng-options="x.name for x in races">
                        </select>
                        <div style="width: 200px;padding-left: 30px;">{{Player}}</div>
                    </div>
                    <div style="margin-top:22px;">
                        <input type="number" id="Experience" min=0 value=0 style="width: 220px;">
                        <select ng-model="Alignment" style="width: 180px;" ng-options="x.name for x in aligns">
                        </select>
                        <select ng-model="Background" style="width: 180px; padding-left: 30px;"
                            ng-options="x.name for x in backgrounds">
                        </select>
                    </div>-->