#HeaderWide{background-image: url(../../../assets/images/WideFrontHeader.png);
background-size:1200px 225px;width:1200px; height:225px;}
#HeaderMiddle {background-image: url(../../../assets/images/MiddleFrontHeader.png);
background-size: 800px 239px;width:800px;height:239px;}
#HeaderNarrow {background-image: url(../../../assets/images/NarrowFrontHeader.png);
background-size: 400px 409px;width:400px;height:409px;}

input[type="text"]{background: transparent;border: none;}
input[type="number"]{background: transparent;border: none;}


#info {border-style: hidden;width: 650px;height: 50px;position: relative;left: 520px;top: 50px;display:block}
#Charname {font-size:24px;font-weight: bold;}