<div>
    <div class="background"></div>
    <div *ngIf="loggedIn" style="text-align:center; z-index: 1; top:0; position: absolute;">
        
    </div>
    <div *ngIf="!loggedIn" style="width:100%; text-align: center; top:10%; z-index: 1;position: absolute;">
        <button onclick="document.getElementById('id01').style.display='block'" style="width:auto; margin-right: 10%;">Login</button>
        <button onclick="document.getElementById('id02').style.display='block'" style="width:auto;">Create
            Account</button>
    </div>

    <div id="id01" class="modal" *ngIf="m1">
        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id01').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <img src="../../../assets/images/knight-3002031_640.jpg" alt="Login" class="avatar">
            </div>
            <div *ngIf="notValid">
                <div class="authentication-failure">
                    Incorrect Username/Password combination
                </div>
            </div>
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" [(ngModel)]="inputUsername" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" [(ngModel)]="inputPassword" placeholder="Enter Password" name="psw" required>

                <button (click)="submitLogin()" type="submit">Login</button>
            </div>
        </form>
    </div>

    <div id="id02" class="modal" *ngIf="m2">
        <form class="modal-content animate" action="/action_page.php" method="post">
            <div class="imgcontainer">
                <span onclick="document.getElementById('id02').style.display='none'" class="close"
                    title="Close Modal">&times;</span>
                <img src="../../../assets/images/accolade-63001_640.jpg" alt="Create Account" class="avatar">
            </div>
            <div *ngIf="notValid">
                <div class="authentication-failure">
                    That username has already been taken.
                </div>
            </div>
            <div class="container">
                <label for="uname"><b>Username</b></label>
                <input type="text" [(ngModel)]="inputUsername" placeholder="Enter Username" name="uname" required>

                <label for="psw"><b>Password</b></label>
                <input type="password" [(ngModel)]="inputPassword" placeholder="Enter Password" name="psw" required>

                <label for="psw"><b>Verify Password</b></label>
                <input type="password" [(ngModel)]="verifyPassword" placeholder="Enter Password" name="psw2" required>
                <div *ngIf="badPass">
                    <div class="authentication-failure">
                        Passwords much match.
                    </div>
                </div>
                <button type="submit">Create Account</button>
            </div>
        </form>
    </div>
</div>