<p *ngIf="!notValid">login works!</p>
<form>

    <div>
        <input [(ngModel)] = "inputUsername"
        type = "text" name = "username"
        >
        <label for="inputUsername" class='texgt-center'>
            username
        </label>
    </div>

    <div>
        <input [(ngModel)] = "inputPassword"
        type = "password" name = "password"
        >
        <label for="inputPassword" class='texgt-center'>
            password
        </label>
    </div>

    <div *ngIf="notValid">
        <div class="authentication-failure"> 
            Incorrect Username/Password combination
        </div>
    </div>
    <input (click)="submit()" 
        type="submit" 
         value="Sign in" 
        class="btn btn-lg btn-primary btn-block text-uppercase" 
    >

    <div *ngIf="!notValid">
        <div class="authentication-success">
            Login success!
        </div>
    </div>
</form>