
    </div>
    <div class="col-md-8" id="Right">
        <div class="row" id="Top">
            <div class="col-md-6">
                <div class="item" id="Health"></div>
            </div>
            <div class="col-md-6">
                <div class="item" id="Other"></div>
            </div>
        </div>
        <div class="row mx-auto">
            <div class="col-md-12 mx-auto">
                <div class="item" id="Attacks">
                    <div class="item" id="AttacksTop"></div>
                    <div class="item" id="AttacksBody">

                    </div>
                    <div class="item" id="AttacksFoot"></div>
                </div>
                <div class="item" id="Features">
                    <div class="item" id="FeaturesTop"></div>
                    <div class="item" id="FeaturesBody">

                    </div>
                    <div class="item" id="FeaturesFoot"></div>
                </div>

                <div class="item" id="Equipment">
                    <div class="item" id="EquipmentTop"></div>
                    <div class="item" id="EquipmentBody">

                    </div>
                    <div class="item" id="EquipmentFoot"></div>
                </div>
            </div>
        </div>
    </div>
</div>