input[type="text"]{background: transparent;border: none;}
input[type="number"]{background: transparent;border: none;}

#Charname {font-size:24px;font-weight: bold;}

input:focus {background: transparent;border: none;}

#name {border-style: hidden;width: 256px;height: 26px;font-size: 150%;
    font-weight: bold;position: relative;left: 64px;top: 100px;}

#info {border-style: hidden;width: 650px;height: 50px;position: relative;left: 520px;top: 50px;display:block}



ul {
    display: flex;
    list-style: none;
    margin: 0;
    width: 70%;
    margin: 0 auto;
}

li {
    flex-grow: 1;
    text-align: center;
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.bevelBox{
    background: #666666;
    border: 1px solid #000000;    
    -moz-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    -webkit-box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);
    background-color: rgba(0, 255, 255, 0.2);
    margin:auto;
    width: 60%;
    height: 4rem;
    border-radius: 1rem;
}
#Front{width:100%;text-align: center;}
#Cover{display: inline-block;width:1208px;text-align: center;}
#Full{display: inline-block;width:1220px;}
#Left{display: inline-block;width:402px;}
#Right{display: inline-block;width:806px;}
#Top{display: inline-flex;width:804px;height:302px;}
#Middle{display: inline-block;width:804px;text-align: center;}



#Attacks{width:800px;}
#AttacksTop{background-image: url(../../../assets/images/DoubleColumnAttacksHeader.png);
    background-size:800px 35px;width:800px; height:35px;}
#AttacksBody{background-image: url(../../../assets/images/DoubleColumnAttacksBody.png);
    background-size:800px 60px;width:800px; height:60px;}
#AttacksFoot{background-image: url(../../../assets/images/DoubleColumnAttacksFooter.png);
    background-size:800px 60px;width:800px; height:60px;}

#Features{width:800px;}
#FeaturesTop{background-image: url(../../../assets/images/DoubleColumnHeader.png);
    background-size:800px 35px;width:800px; height:35px;}
#FeaturesBody{background-image: url(../../../assets/images/DoubleColumnBody.png);
    background-size:800px 30px;width:800px; height:30px;}
#FeaturesFoot{background-image: url(../../../assets/images/DoubleColumnFeaturesFooter.png);
    background-size:800px 60px;width:800px; height:60px;}

#Languages{width:400px;}


#Equipment{width:800px;}
#EquipmentTop{background-image: url(../../../assets/images/DoubleColumnHeader2.png);
    background-size:800px 35px;width:800px; height:35px;}
#EquipmentBody{background-image: url(../../../assets/images/DoubleColumnBody2.png);
    background-size:800px 30px;width:800px; height:30px;}
#EquipmentFoot{background-image: url(../../../assets/images/DoubleColumnEquipmentFooter.png);
    background-size:800px 315px;width:800px; height:315px;}