



#Attacks{width:800px;}
#AttacksTop{background-image: url(../../../assets/images/DoubleColumnAttacksHeader.png);
    background-size:800px 35px;width:800px; height:35px;}
#AttacksBody{background-image: url(../../../assets/images/DoubleColumnAttacksBody.png);
    background-size:800px 60px;width:800px; height:60px;}
#AttacksFoot{background-image: url(../../../assets/images/DoubleColumnAttacksFooter.png);
    background-size:800px 60px;width:800px; height:60px;}

#Features{width:800px;}
#FeaturesTop{background-image: url(../../../assets/images/DoubleColumnHeader.png);
    background-size:800px 35px;width:800px; height:35px;}
#FeaturesBody{background-image: url(../../../assets/images/DoubleColumnBody.png);
    background-size:800px 30px;width:800px; height:30px;}
#FeaturesFoot{background-image: url(../../../assets/images/DoubleColumnFeaturesFooter.png);
    background-size:800px 60px;width:800px; height:60px;}

#Languages{width:400px;}


#Equipment{width:800px;}
#EquipmentTop{background-image: url(../../../assets/images/DoubleColumnHeader2.png);
    background-size:800px 35px;width:800px; height:35px;}
#EquipmentBody{background-image: url(../../../assets/images/DoubleColumnBody2.png);
    background-size:800px 30px;width:800px; height:30px;}
#EquipmentFoot{background-image: url(../../../assets/images/DoubleColumnEquipmentFooter.png);
    background-size:800px 315px;width:800px; height:315px;}