<div class="bevelBox">
        <header>
            <nav>
                <ul class="nav nav-tabs">
                    <li>
                        <a class="nav-link" routerLink="/profile">Abilities</a>
                    </li>
                    <li>
                        <a class="nav-link" routerLink="/info">Description</a>
                    </li>
                    <li>
                        <p>Spellcasting</p>
                    </li>
                </ul>
            </nav>
        </header>
    </div>
    <div>
        <p>Test Spells</p>
    </div>

    <div>
            <router-outlet></router-outlet>
        </div>